    <main id="projects">
      <header>
        <section id="section-home">
          <div class="container p-0">
            <div class="content d-flex justify-content-between align-items-center">
              <h1 class="page-title text-white">Projects</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home" class="text-reset">Home</a></li>
                  <li class="breadcrumb-item"><a routerLink="/dashboard" class="text-reset">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Our Projects</li>
                </ol>
              </nav>
            </div>
          </div>
        </section>
      </header>
  
      <section id="section1" class="py-5">
        <div class="container px-0 py-5">
          <div class="header-content text-center mx-3 mb-5" *ngIf="AddNewProject">
              <form [formGroup]="Section1"  (ngSubmit)="SetSection(Section1)">
                <div class="form-group">
                  <label class="h5">*Small Title</label>
                  <input type="text" class="form-control m-auto text-info w-50" formControlName="SmallTitle">
                  <small class="text-danger" *ngIf="Section1.get('SmallTitle').invalid && Section1.get('SmallTitle').touched">
                    This field is required!
                  </small>
                </div>
  
                <div class="form-group">
                  <label class="h2">*Big Title(First Line)</label>
                  <input type="text" class="form-control m-auto text-info w-75" formControlName="BigTitle1">
                  <small class="text-danger" *ngIf="Section1.get('BigTitle1').invalid && Section1.get('BigTitle1').touched">
                    This field is required!
                  </small>
                </div>

                <div class="form-group">
                  <label class="h4">*Big Title(Second Line)</label>
                  <input type="text" class="form-control  m-auto text-info w-75" formControlName="BigTitle2">
                  <small class="text-danger" *ngIf="Section1.get('BigTitle2').invalid && Section1.get('BigTitle2').touched">
                    This field is required!
                  </small>
                </div>

                <div class="form-group">
                  <label class="h4">*Details</label>
                  <textarea rows="4" class="text-info form-control w-75 m-auto" formControlName="Details"></textarea>
                  <small class="text-danger" *ngIf="Section1.get('Details').invalid && Section1.get('Details').touched">
                    This field is required!
                  </small>
                </div>
                <button class="btn btn-info submit" type="submit" [disabled]="Section1.invalid">Save Changes</button>
              </form>
          </div>
          <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                <h2 class="text-info text-center mb-4 fa-2x">Add New Project</h2>
                <div class="row">
                  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="content pointer">
                      <img src="../../../assets/Pages/OurClients/section2/member2.jpg" style="width: 100%; height: 580px;"
                        class="img-fluid" alt="project-image"/>
                      <a class="overlay text-reset text-decoration-none">
                        <form class="mx-4" [formGroup]="NewProject"  (ngSubmit)="SetProject(NewProject)">
                          <div class="my-2">
                            <label class="d-flex justify-content-between m-0">
                              <span class="h6 p-0">*Big Title</span>
                              <small class="text-danger" *ngIf="NewProject.get('BigTitle').invalid && NewProject.get('BigTitle').touched">
                                This field is required!
                              </small>
                            </label>
                            <input type="text" class="form-control m-auto text-info" formControlName="BigTitle" placeholder="Project Title">

                          </div>
                          <div class="my-2">
                            <label class="d-flex justify-content-between m-0">
                              <span class="h6 p-0">*Small Title</span>
                              <small class="text-danger" *ngIf="NewProject.get('SmallTitle').invalid && NewProject.get('SmallTitle').touched">
                                This field is required!
                              </small>
                            </label>
                            <input type="text" class="form-control m-auto text-info" formControlName="SmallTitle" placeholder="Project Subtitle">

                          </div>
                          <div class="my-2">
                            <label class="d-flex justify-content-between m-0">
                              <span class="h6 p-0">*Project Details</span>
                              <small class="text-danger" *ngIf="NewProject.get('Details').invalid && NewProject.get('Details').touched">
                                This field is required!
                              </small>
                            </label>
                            <textarea class="form-control m-auto text-info" rows="5" formControlName="Details" placeholder="write more details about your project"></textarea>
                          </div>
                          <div class="my-1">
                            <label class="h6">*Category</label>
                            <select class="form-control m-auto text-info font-weight-bold" formControlName="Category">
                              <option value="Design">Design</option>
                              <option value="Development">Development</option>
                              <option value="Ideas">Ideas</option>
                              <option value="Technology">Technology</option>
                            </select>
                            <small class="text-danger" *ngIf="NewProject.get('Category').invalid && NewProject.get('Category').touched">
                              This field is required!
                            </small>
                          </div>
                          <div class="mt-3">
                            <div class="box text-center">
                              <input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2" accept="image/*" 
                              data-multiple-caption="{count} files selected" multiple="false" formControlName="ImageUrl" (change)="onFileChange($event.target.files)"/>
                              <label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
                            </div>
                            <small class="text-danger d-flex justify-content-center mb-2"
                             *ngIf="NewProject.get('ImageUrl').invalid && NewProject.get('ImageUrl').touched">
                              Please select an Image
                            </small>
                          </div>
                          <div class="text-center">
                            <button class="btn btn-info submit" type="submit" [disabled]="NewProject.invalid">Add Project</button>
                          </div>
                        </form>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
    </main>


